@model AuthServer.MailingSystem.Sender.Models.ViewModel
<h4>Dear @Model.Get("Username"),</h4>

<p>Password for your account has been changed.</p>

<p>You can consider this changes in your <a href="@string.Format("https://www.example.com/account/{0}", Model.Get("AccountId"))" target="_blank">account page</a>.</p>

